<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings/>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
